.posterCard {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px;
}

.poster {
  max-width: 350px;
  max-height: 490px;
  box-shadow: 2px 13px 24px rgba(0,0,0, .5);
}

.title {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #00ffff;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 0;
  background-color: rgba(0,0,0, .7);
  transition: all .3s linear;
}

.title:hover {
  background-color: rgba(0,0,0, .9);
  color: #01d277;;
}

.title h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  margin-left: 1rem;
  /*white-space: nowrap;*/
}

@media (max-width: 910px) {
  .poster {
    max-width: 350px;
    max-height: 490px;
  }
}

@media (max-width: 520px) {
  .title {padding: .4rem 0;}
  .title h3 {
    font-size: .9em;
  }
}

